<style>
    #infoContainer {
        margin: auto;
        text-align: center;
    }
</style>

<div id="infoContainer">
    <h1><%= info.ID %>님의 개인 정보</h1>
    I D : <%= info.ID %><br>
    P W : <%= info.PWD %><br>
    이름 : <%= info.NAME %><br>
    주소 : <%= info.ADDR %> <br>
    <a href="/member/modifyForm/<%= info.ID %>">수정</a>
    <a href="/member/delete/<%= info.ID %>">삭제</a>
    <a href="/member/memberList">목록</a>
</div>