<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>

        <style>
            #bodyContainer {
                margin: auto;
                width: 500px;
                text-align: center;
            }
        </style>
    </head>

    <body>
        <div id="bodyContainer">
            <h1>List 페이지</h1>
            <table border="1">
                <thead>
                    <tr>
                        <th>번호</th> <th>제목</th> <th>등록날짜</th> <th>조회수</th>
                    </tr>
                </thead>
    
                <tbody>
                    <% list.forEach( data => { %>
                        <tr>
                            <td><%= data.NUM %></td>   <td><a href="/page/content/<%=data.NUM%>"> <%= data.TITLE %> </a></td>
                            <td><%= data.PDATE %></td> <td><%= data.COUNT %></td>
                        </tr>
                    <% });
                    if( list.length == 0 ){%>
                        <tr>
                            <td colspan="4"><b>등록된 정보가 없습니다</b></td>
                        </tr>
                    <%} %>
                    <tr>
                        <td colspan="4">
                            <% if (start <= 1) { %>
                                <button disabled>이전</button>
                            <% } else { %>
                                <button type="button" onclick="location.href='/page/list?start=<%= start - 1 %>'">이전</button>
                            <% } %>

                            <% for (let i = 1; i <= page.totPage; i++) { %>
                                <a href="/page/list?start=<%= i %>"><%= i %></a>
                            <% } %>

                            <% if (start < page.totPage) { %>
                                <button type="button" onclick="location.href='/page/list?start=<%= start + 1 %>'">다음</button>
                            <% } else { %>
                                <button disabled>다음</button>
                            <% } %>

                            <br>
                            start : <%= start %> / <%= page.totPage %><br>
                            <a href="/page/write_form">글 등록</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>